@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*-----------------------로그인-----------------------*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.form-signin .checkbox {
  font-weight: 400; }

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/*-----------------------회원가입-----------------------*/
.container .card {
  margin-top: 45%; }

/*-----------------------header-----------------------*/
.container {
  position: relative; }

.section_1 {
  position: relative; }
  .section_1 .header {
    /*-----------------------상단 링크-----------------------*/
    /*-----------------------검색바-----------------------*/
    /*-----------------------gnb-----------------------*/ }
    .section_1 .header .navbar-dark .navbar-toggler {
      border-color: transparent; }
    .section_1 .header .link {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
      .section_1 .header .link ul > li {
        float: left;
        text-align: center;
        position: relative; }
        .section_1 .header .link ul > li.login-after:hover .log-in {
          display: block; }
        .section_1 .header .link ul > li a {
          letter-spacing: -1px; }
        .section_1 .header .link ul > li .log-in {
          display: none;
          position: absolute;
          top: 26px;
          left: 0;
          background: #fff;
          border: 1px solid #5f6c9c;
          z-index: 2; }
          .section_1 .header .link ul > li .log-in ul {
            overflow: hidden; }
            .section_1 .header .link ul > li .log-in ul li {
              float: inherit;
              line-height: 30px; }
    .section_1 .header .search {
      padding-top: 30px; }
      .section_1 .header .search form {
        overflow: hidden; }
    .section_1 .header .navbar input[type="search"] {
      border: 3px solid #5f6c9c;
      height: 45px; }
    .section_1 .header .navbar button[type="submit"] {
      border: 1px solid #5f6c9c;
      color: #5f6c9c; }
    .section_1 .header .navbar button[type="submit"]:hover {
      background: #5f6c9c;
      color: #fff; }
    .section_1 .header nav.navbar {
      background: #5f6c9c; }
      .section_1 .header nav.navbar ul .nav-item > a {
        line-height: 30px;
        font-size: 15px; }
        .section_1 .header nav.navbar ul .nav-item > a:hover {
          color: #fff; }
      .section_1 .header nav.navbar .dropdown-menu a:hover {
        color: #5f6c9c; }

/*-----------------------body-----------------------*/
.section_2 {
  /*-----------------------count-----------------------*/
  /*-----------------pagination--------------*/ }
  .section_2 .body {
    /*-----------------------depth1,depth2,depth3----------------*/
    /*-----------------------책 리스트 전체 div-----------------------*/
    /*-----------------------detail - 상품상세-----------------------*/ }
    .section_2 .body .breadcrumb {
      background: #fff;
      /*-----------------------처음 보여지는 리스트-----------------------*/ }
      .section_2 .body .breadcrumb > li {
        position: relative;
        padding-right: 10px;
        font-size: 1rem;
        line-height: 2rem;
        /*-----------------리스 다음에 나오는 > 표시함----------------------*/ }
        .section_2 .body .breadcrumb > li + li:before {
          content: '';
          position: absolute;
          padding: 0 3px;
          top: 15px;
          left: -13px;
          border-top: 1px solid #000;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .section_2 .body .breadcrumb > li + li:after {
          content: '';
          position: absolute;
          top: 16.5px;
          left: -10px;
          height: 6px;
          border-right: 1px solid #000;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .section_2 .body .breadcrumb > li .btn-group button {
          width: auto;
          border: none;
          background: transparent;
          box-shadow: 0 0 0 transparent; }
          .section_2 .body .breadcrumb > li .btn-group button .caret {
            float: right;
            margin-top: 8px;
            margin-left: 7px; }
      .section_2 .body .breadcrumb button {
        background: transparent; }
    .section_2 .body .book-list-wrap ul {
      overflow: hidden; }
      .section_2 .body .book-list-wrap ul li .thumbnail {
        overflow: hidden;
        position: relative; }
        .section_2 .body .book-list-wrap ul li .thumbnail .info-wrap-pc span + span:before {
          content: '|';
          position: absolute;
          top: 0;
          left: -5%; }
      .section_2 .body .book-list-wrap ul li button[type='button'] {
        background: #5f6c9c;
        border: none;
        font-size: 1rem; }
    .section_2 .body .detail {
      /*-----------------------상품상세 리스트-----------------------*/
      /*-----------------------cart-wrap - 장바구니 내역-------------------*/
      /*--------------------pagination---------------------*/ }
      .section_2 .body .detail .thumbnail {
        overflow: hidden; }
        .section_2 .body .detail .thumbnail .cont {
          /*------------------상품상세 내용 1(상단)------------------*/ }
          .section_2 .body .detail .thumbnail .cont_1 h3 {
            line-height: 50px; }
            .section_2 .body .detail .thumbnail .cont_1 h3 span {
              display: inline-block;
              font-size: 15px; }
      .section_2 .body .detail .cart-wrap h3 {
        padding-left: 1.5rem;
        color: #000;
        line-height: 50px;
        border-bottom: 2px solid #ddd; }
      .section_2 .body .detail .cart-wrap table > tbody > tr > td {
        vertical-align: middle; }
        .section_2 .body .detail .cart-wrap table > tbody > tr > td.checkbox {
          border: none; }
          .section_2 .body .detail .cart-wrap table > tbody > tr > td.checkbox input {
            margin: 0 auto; }
      .section_2 .body .detail .cart-wrap .tbody .title {
        overflow: hidden; }
      .section_2 .body .detail .cart-wrap .tbody .btn-wrap button {
        float: right;
        margin: 0.75rem; }
      .section_2 .body .detail .cart-wrap .tbody .nomargin {
        margin: 1rem 0;
        float: left;
        color: #000;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        width: 100%; }
      .section_2 .body .detail .cart-wrap .tbody .cont_3 button {
        float: right;
        margin-right: 2.5rem;
        margin-top: 1rem; }
      .section_2 .body .detail .pagination {
        width: 400px;
        overflow: hidden;
        display: block;
        margin: 20px auto; }
        .section_2 .body .detail .pagination li a {
          border: none; }
      .section_2 .body .detail .mymenu-wrap {
        overflow: hidden; }
        .section_2 .body .detail .mymenu-wrap ul {
          overflow: hidden; }
          .section_2 .body .detail .mymenu-wrap ul li {
            float: left;
            margin: 20px 0; }
            .section_2 .body .detail .mymenu-wrap ul li a {
              border: 1px solid rgba(89, 108, 156, 0.25);
              position: relative;
              display: block;
              width: 100%;
              line-height: 10rem;
              text-transform: uppercase;
              overflow: hidden;
              color: #3e3f89;
              background: rgba(89, 108, 156, 0.25);
              text-align: center;
              font-weight: bold; }
              .section_2 .body .detail .mymenu-wrap ul li a:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 10rem;
                background: #5f6c9c;
                box-sizing: border-box;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                color: #fff;
                z-index: -1; }
              .section_2 .body .detail .mymenu-wrap ul li a:hover {
                color: #fff;
                text-decoration: none; }
              .section_2 .body .detail .mymenu-wrap ul li a:hover:before {
                width: 100%;
                height: 10rem;
                box-sizing: border-box;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                color: #fff; }
              .section_2 .body .detail .mymenu-wrap ul li a:active {
                background: #5f6c9c;
                color: #fff; }
      .section_2 .body .detail .history-wrap .table-wrap table th, .section_2 .body .detail .history-wrap .table-wrap table td {
        vertical-align: middle; }
      .section_2 .body .detail .history-wrap .table-wrap table .title h4 {
        margin: 2rem 0; }
      .section_2 .body .detail .history-wrap .table-wrap table .tbody tr:last-child {
        border-bottom: 1px solid #dddddd; }
      .section_2 .body .detail .history-wrap .table-wrap table .tbody tr td a {
        color: #727272; }
      .section_2 .body .detail .history-wrap .table-wrap table .tbody tr td.product {
        padding-left: 7rem; }
      .section_2 .body .detail .history-wrap .select-wrap {
        margin-top: 2rem;
        margin-bottom: 2rem; }
        .section_2 .body .detail .history-wrap .select-wrap * {
          float: right;
          margin: 0 1rem; }
  .section_2 .qty .counter {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #3661e3;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
  .section_2 .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    text-indent: 0;
    text-align: center;
    border: 0;
    width: 3rem;
    height: 2.5rem; }
  .section_2 .qty input::-webkit-outer-spin-button,
  .section_2 .qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .section_2 .qty input:disabled {
    background-color: white; }
  .section_2 .toolbar .page-item .page-link {
    color: #5f6c9c; }
  .section_2 .toolbar .page-item.active .page-link {
    background: #5f6c9c;
    border-color: #5f6c9c;
    color: #fff; }
  @media (max-width: 992px) {
    .section_2 .section_1 {
      position: relative; }
      .section_2 .section_1:after {
        display: none; }
    .section_2 .section_2 .cart-wrap .names .pro-info {
      width: 50% !important; }
    .section_2 .section_2 .cart-wrap .names .amount {
      width: 40% !important; }
    .section_2 .section_2 .cart-wrap .names .check-wrap {
      width: 10% !important; }
    .section_2 .section_2 .history-wrap .table-wrap .names .pro-info {
      width: 35% !important; }
    .section_2 .section_2 .history-wrap .table-wrap .names .price {
      width: 35% !important; }
    .section_2 .section_2 .history-wrap .table-wrap .names .amount {
      width: 30% !important; } }
  @media (max-width: 400px) {
    .section_2 .section_1 .link > ul li {
      padding: 0; }
    .section_2 .section_1 .header .link ul > li .log-in ul li a {
      font-size: 10px; }
    .section_2 .section_2 .body .cart-wrap .tbody .nomargin {
      width: 15rem !important; } }
